/* スレッド見出し */
h1 {
  font-size: 40px;
  color: #6594e0;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #6594e0;
}

/* オレンジ [ボタン] */
.btn-brackets {
display: inline-block;
position: relative;
padding: 0.5em 1em;
text-decoration: none;
color: #000;
transition: .4s;
}
.btn-brackets:hover {
color:#ff7f7f;
}
.btn-brackets:before, .btn-brackets:after {
position: absolute;
top: 0;
content:'';
width: 8px;
height: 100%;
display: inline-block;
}
.btn-brackets:before {
border-left: solid 1px #ff7f7f;
border-top: solid 1px #ff7f7f;
border-bottom: solid 1px #ff7f7f;
left: 0;
}
.btn-brackets:after {
content: '';
border-top: solid 1px #ff7f7f;
border-right: solid 1px #ff7f7f;
border-bottom: solid 1px #ff7f7f;
right: 0;
}

/* オレンジ 付箋 */
.box8 {
padding: 0.5em 1em;
margin: 2em 0;
color: #232323;
background: #fff8e8;
border-left: solid 10px #ffc06e;
}
.box8 p {
  margin: 0; 
  padding: 0;
}

.btn-social-square {
display: inline-block;
text-decoration: none;
width: 50px;
margin:2px;
height: 50px;
line-height: 50px;
font-size: 23px;
color:white;
border-radius: 12px;
text-align: center;
overflow: hidden;
font-weight: bold;
transition: .3s;
}
.btn-social-square i {
line-height:50px;
}
.btn-social-square:hover {
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
}
.btn-social-square--twitter {
background: #22b8ff;
}
.btn-social-square--facebook {
background: #6680d8;
}
.btn-social-square--hatebu {
background: #49a8fb;
}
.btn-social-square--pocket {
background: #ff6d82;
}
.btn-social-square--feedly {
background: #7bda72;
}

/* ステップ目次 */
ol {
counter-reset:number; /*数字をリセット*/
list-style-type: none!important; /*数字を一旦消す*/
padding:0.5em;
border: solid 2px #5c9ee7;
}
ol li {
position: relative;
padding: 0.5em 0.5em 0.5em 35px;
line-height: 1.5em;
}
ol li:before{
/* 以下数字をつける */
position: absolute;
counter-increment: number;
content: counter(number);
/*数字のデザイン変える*/
display:inline-block;
background: #5c9ee7;
color: white;
font-family: 'Avenir','Arial Black','Arial',sans-serif;
font-weight:bold;
font-size: 15px;
border-radius: 50%;/*円にする*/
left: 0;
width: 25px;
height: 25px;
line-height: 25px;
text-align: center;
/*以下 上下中央寄せのため*/
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
ol li:after {/*吹き出しのちょこんと出た部分*/
content: '';
display: block;
position: absolute;
left: 20px;/*左からの位置*/
height: 0;
width: 0;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
border-left: 12px solid #5c9ee7;
/*以下 上下中央寄せのため*/
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

/* レス */
ul {
padding: 0;
position: relative;
}
ul li {
color: black;
border-left: solid 8px orange;/*左側の線*/
background: whitesmoke;/*背景色*/
margin-bottom: 5px;/*下のバーとの余白*/
line-height: 1.5;
border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
padding: 0.5em;
list-style-type: none!important;
}

/* スレッド 一覧 青枠線 */
.btn-blue-border {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 5px;
  text-decoration: none;
  color: #0c3f5f;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.btn-blue-border:hover {
  background: #fcf0ce;
}

/* スレッド 一覧 赤枠線 */
.btn-red-border {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 5px;
  text-decoration: none;
  color: #5f0c0c;
  border: double 4px #ff6767;
  border-radius: 3px;
  transition: .4s;
}
.btn-red-border:hover {
  background: #fcf0ce;
}

/* ページ最下 移動*/
.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

/* スレッド 詳細説明 青囲み */
.box4{
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  }
  .box4 p {
  margin: 0; 
  padding: 0;
  }

/* 投稿ボックス */
.box17{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -5px;
  width: 5px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
  margin: 0; 
  padding: 0;
}

/* テキストエリア */
.textarea_width{
  width: 50%;
}

/*スマホ用*/
@media screen and (max-width: 750px) {

  img { width: 100%; }

  .textarea_width{
    width: 100%;
  }

  *{
    font-size: large;
  }

}