<!DOCTYPE html>
<html lang="ja">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">
    <!-- PC SP 切り替え -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Octony</title>
</head>

<body>
    <!-- スレッドタイトル -->
    <h1>{{ thread.thread_text }}</h1>

    <!-- スレッド詳細 -->
    <div class="box4">
        <p>{{ thread.thread_text }}</p>
        <p>レス数 : {{ thread.print_count_response }}</p>
        <p>おすすめ数 : {{ thread.favorite_num }}</p>
        <p>更新日時 : {{ thread.print_latest_date }}</p>
        <p>作成日時 : {{ thread.print_pub_date }}</p>
    </div>

    <!-- ボタン類 -->
    <a href="#jump" class="btn-cross">最新へ</a>
    <a href="{% url 'board:index' %}" class="btn-brackets">戻る</a>

    <!-- レス一覧 -->
    <ul>
        {% for response in thread.response_set.all %}
        <li>
            {% if response.was_url %}
            {{ forloop.counter }}.
            <a href="{{response.name_text}}" target="_blank" rel="noopener noreferrer">{{ response.name_text }}</a><br>
            ----- {{ response.print_tweet_date }}<br>
            {{ response.response_text | linebreaksbr }}
            {% else %}
            {{ forloop.counter }}.{{ response.name_text }}.{{ response.hash_text }}<br>
            ----- {{response.print_tweet_date }}<br>
            {{ response.response_text | linebreaksbr }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <!-- 書き込み -->
    <div class="box17">
        <form action="{% url 'board:tweet' thread.id %}" method="post">
            {% csrf_token %}
            <a name="jump">書き込み</a><br>
            <input type="text" value="ななしちゃん" name="name_str" required minlength="1" maxlength="255"> <br>
            つぶやき : <br>
            <textarea name="tweet_str" rows="4" class="textarea_width"></textarea> <br>
            <input type="submit" value="新規" class="btn-cross">
            <input type="reset" value="リセット" class="btn-cross">
        </form>
    </div>

    <footer>
        <!-- ボタン類 -->
        <a class="btn-brackets" onclick="window.location.reload(true);">更新</a>
        <a href="{% url 'board:index' %}" class="btn-brackets">戻る</a>
        <a href="{% url 'board:favorite' thread.id %}" class="btn-brackets">おすすめ</a>
    </footer>
</body>

</html>