<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'board/images/logo.png' %}">
    <script src="{% static 'board/script.js' %}"></script>
    <title>Octony</title>
</head>

<body>
    <!-- スレッドタイトル -->
    <h1>{{ thread.thread_text }}</h1>

    <!-- スレッド詳細 -->
    <div class="box4">
        <p>
            <span> タイトル </span> {{ thread.thread_text }} <br>
            <span> レス数 </span> {{ thread.print_count_response }} <br>
            <span> おすすめ </span> {{ thread.favorite_num }} <br>
            <span> 更新日時 </span> {{ thread.print_latest_date }} <br>
            <span> 作成日時 </span> {{ thread.print_pub_date }}
        </p>
    </div>

    <!-- ボタン類 -->
    <a href="{% url 'board:index' %}" class="btn-brackets fix-right-bottom">戻る</a>
    <div style="text-align: center;">
        <a name="start" href="#end" class="btn-cross">最新へ</a>
    </div>

    <!-- レス一覧 -->
    {% for response in thread.response_set.all %}
        {% if response.was_special %}
            <div class="response red-res">
        {% else %}
            <div class="response">
        {% endif %}
                <p>
                    {{ forloop.counter }}.
                    {{ response.name_text }}.{{ response.hash_text }}<br>
                </p>
                <p style="text-align: right;">
                    {{ response.print_tweet_date }}-{{ response.get_id }}
                </p>
                <p>
                    {{ response.print_response_text | linebreaksbr }}
                </p>
                <p>
                    {% for url in response.print_urls %}
                        <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
                            {{ url }}
                        </a><br>
                    {% endfor %}
                </p>
            </div>
    {% endfor %}

    <!-- おすすめ -->
    <a href="{% url 'board:favorite' thread.id %}" class="btn-gradient-radius">おすすめ</a>

    <!-- 書き込み -->
    <a name="jump"></a>
    <div class="box17">
        <form action="{% url 'board:tweet' thread.id %}" method="post">
            {% csrf_token %}
            名前$コテハン<br>
            <input type="text" value="{{ cookie_name }}" name="name_str" required minlength="1" maxlength="255"> <br>
            つぶやき<br>
            <textarea name="tweet_str" rows="4" class="textarea_width"></textarea> <br>
            <input type="submit" value="投稿" class="btn-cross">
        </form>
    </div>

    <footer style="text-align: center;">
        <!-- ボタン類 -->
        <a class="btn-brackets" onclick="window.location.reload(true);">再読込</a><br>
        <a name="end" href="#start" class="btn-cross">最初へ</a><br>
    </footer>
</body>

</html>