<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'board/images/logo.png' %}">
    <script src="{% static 'board/script.js' %}"></script>
    <title>Octony</title>
</head>

<body>
    <header>
        <!-- ロゴ -->
        <div style="text-align: center;">
            <a href="{% url 'board:index' %}">
                <img src="{% static 'board/images/logo.png' %}" alt="Octony">
            </a>
        </div>
    </header>

    <!-- ボタン類 -->
    <a href="{% url 'board:index' %}" class="btn-brackets fix-right-bottom">戻る</a>

    <!-- はじめに -->
    <p class="box8">はじめに</p>
    <p>
        Octonyは Octo(8つの)-Anonymous(匿名者) を掛け合わせた言葉です。
    </p>
    <p>
        Octonyという言葉には、「長工生が学科関係なく、自由に交流ができる場所を提供する」という信念が込められています。
    </p>
    <p>
        匿名投稿・コテハン・おすすめ機能などの多くの便利機能を実装した掲示板であり、<br>
        「より良い交流場所」を目指し、長工生の声を聞き、改良を重ねています。
    </p>
    <p>
        Octonyを使い、長工生間の交流が増えることを願います。
    </p>

    <!-- 使い方 -->
    <p class="box8">使い方</p>
    <div>
        <ol>
            <li>好きなスレを探してみる</li>
            <li>スレに書き込んでみる</li>
            <li>新しいスレを作ってみる</li>
            <li>スレをおすすめしてみる</li>
            <li>いろいろな機能を使ってみる</li>
        </ol>
    </div>

    <!-- 基本 -->
    <p class="box8">基本</p>
    <div class="box5">
        <p>
            スレ<br>
            スレッドの略称、掲示板内の話題で分かれている。自分でスレを立てることもでき、他の人が作ったスレに書き込むこともできます。
        </p>
    </div>
    <div class="box5">
        <p>
            レス<br>
            レスポンスの略称、スレに書き込むことを指します。書き込みによってスレが更新されます。
        </p>
    </div>
    <div class="box5">
        <p>
            更新<br>
            スレに書き込んだり、おすすめすることでスレを一番上に表示させることができます。更新が無いとトップページに表示されなくなります。
        </p>
    </div>
    <div class="box5">
        <p>
            すべて表示<br>
            更新が無くトップページに表示されなくなったスレを探せます。
        </p>
    </div>
    <div class="box5">
        <p>
            おすすめ<br>
            スレッドをおすすめする機能です。書き込まずにスレを更新させることができます。
        </p>
    </div>

    <!-- 応用 -->
    <p class="box8">応用</p>
    <div class="box5">
        <p>コテハン<br>
            固定ハンドルネームの略称、なりすまし防止機能です。<br>
            名前欄に「ななしさん$あんごう」と入力して使用します。<br>
            使用は任意ですが、なりすましされたくないときは付けてください。
        </p>
    </div>
    <div class="box5">
        <p> コテハンの使い方<br>
            名前欄に「ななしさん$あんごう」と入力<br>
            ---- $は半角、「あんごう」は$以外を用いた適当な文字列<br>
            「あんごう」をハッシュ化(暗号化)し、「ななしさん.84jsj39」のように表示される<br>
            これで「84jsj39」が付いていれば本人の投稿、それ以外は他の人の投稿ということがわかる<br>
            なりすまそうと思っても、「84jsj39」から「あんごう」と解読するのは困難である<br>
            「あんごう」は自分の覚えやすい文字列で、秘密にすること
        </p>
    </div>
    <div class="box5">
        <p> 特殊コテハン<br>
            コテハンは基本8文字の英数字ですが、特殊なコテハンもあります。<br>
            例）「.7s85ds84」 -- 普通のコテハン<br>
            「.管理者」 -- 管理者のみ使えるコテハン<br>
            「.モデレーター」 -- モデレーター（お手伝いさん）のみ使えるコテハン<br>
            「.0」 -- コテハンなし<br>
        </p>
    </div>
    <div class="box5">
        <p>ハイパーリンク<br>
            タップするとそのまま開けるリンク付きのURLです。<br>
            ハイパーリンクあり）
            <a href="https://mio256.pythonanywhere.com/board/">https://mio256.pythonanywhere.com/board/</a><br>
            ハイパーリンクなし）https://mio256.pythonanywhere.com/board/
        </p>
    </div>
    <div class="box5">
        <p>ハイパーリンク機能<br>
            書き込みの中にURLがあるとレスの下に自動的にハイパーリンクが生成されます。
        </p>
    </div>

    <!-- おまけ -->
    <p class="box8">おまけ</p>
    <div class="box5">
        <p>管理板<br>
            管理者が設置している板です。<br>
            <a href="{% url 'board:detail' 21 %}">【要望等】アイデア求む</a><br>
            一番歴史が長い板、みんなの意見や開発者のメモなどが書き込んであります。<br>
            遠慮なく、アイデアや感想などOctonyをより良くする書き込みをお願いします。<br>
            <a href="{% url 'board:detail' 54 %}">【テスト】ご自由に</a><br>
            テスト板、管理者が定期的にリセットするので好きなように使ってください。<br>
            <a href="{% url 'board:detail' 21 %}">【お問い合わせ】削除・変更</a><br>
            スレ・レスの削除や変更などの管理者へ用件がある場合に書き込んでください。
        </p>
    </div>
    <div class="box5">
        <p>コテハンの技術的説明<br>
            情報系の生徒へ向けたコテハンの技術的説明です。<br>
            内部処理は以下のようになっている。<br>
            1.入力文字を分割する「ななしさん$あんごう」→['ななしさん','あんごう']<br>
            2.平文'あんごう'をSHA256でハッシュ化する 'あんごう'→'7gr55xcvz6878fas4...'<br>
            3.平文'あんごう'を破棄し、データベースには残さない<br>
            4.ハッシュ化文字列'7gr55xcvz6878fas4...'の上位8文字を切り抜く<br>
            5.文字列'7gr55xcv'がコテハンとしてデータベースに保存される<br>
            6.文字列'7gr55xcv'がコテハンとして表示される<br>
            7.文字列'7gr55xcv'から平文'あんごう'を解読するのは困難なのでなりすましを防止する
        </p>
    </div>

    <footer style="text-align: center;">
        <a href="{% url 'board:terms' %}" class="btn-brackets">利用規約</a>
    </footer>
</body>

</html>