<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <link rel="stylesheet" media="only screen and (max-width:800px)" href="{% static 'board/sp_style.css' %}">
    <link rel="stylesheet" media="screen and (min-width:800px)" href="{% static 'board/pc_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'board/images/logo.png' %}">
    <script src="{% static 'board/script.js' %}"></script>
    <title>Octony</title>
</head>

<body>
    <header>
        <!-- ローディング -->
        <div id="loading">
            <div class="spinner"></div>
        </div>
        <!-- ロゴ -->
        <div style="text-align: center;">
            <a href="{% url 'board:index' %}">
                <img src="{% static 'board/images/logo.png' %}" alt="Octony">
            </a>
        </div>
    </header>

    <!-- 付箋 -->
    <p class="box8">Octony-OctoAnonymous 8人の匿名者</p>
    <p class="box8">長工生が匿名で交流できる場所</p>
    <p class="box8">ただの雑談から各科の交流まで</p>

    <!-- はじめに -->
    <a href="{% url 'board:explain' %}" class="btn-green-border">
        はじめに<br>
        用語解説<br>
        機能説明<br>
    </a>
    <!-- 最新スレッド -->
    {% if latest_thread_list %}
    {% for thread in latest_thread_list %}
    {% if thread.was_update_recently %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-red-border">
        {{ thread.print_title }} <br>
        レス : {{ thread.print_count_response }} おすすめ : {{ thread.favorite_num }}
    </a>
    {% else %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-blue-border">
        {{ thread.print_title }} <br>
        レス : {{ thread.print_count_response }} おすすめ : {{ thread.favorite_num }}
    </a>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>そして誰も居なくなった...</p>
    <p>新規スレを立ててね！</p>
    {% endif %}

    <!-- すべて表示 -->
    <a href="{% url 'board:list' %}" class="btn-blue-border">
        すべて表示
    </a>

    <!-- アンケート -->
    <a href="{% url 'polls:index' %}" class="btn-green-border">アンケートにご協力ください</a><br>

    <!-- 新規スレッド作成 -->
    <div class="box17">
        <form action="{% url 'board:create_thread' %}" method="post">
            {% csrf_token %}
            新規スレ:<br>
            <textarea name="thread_str" rows="4" class="textarea_width"></textarea> <br>
            <input type="submit" value="新規" class="btn-cross">
            <input type="reset" value="リセット" class="btn-cross">
        </form>
    </div>

    <footer>
        <!-- ボタン類 -->
        <a href="{% url 'board:terms' %}" class="btn-brackets">利用規約</a>
    </footer>
</body>

</html>