{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">

<h1>Octony</h1>

<div class="box8">
    <p>Octony -OCTO anoNYmous-</p>
    <br>
    <p>ネット版 語らいの場 〜長工生の8学科全員が匿名で交流できる場所〜</p>
    <br>
    <p>ただの雑談から各科の交流まで</p>
</div>

<div>
    <ol>
        <li>好きなスレを探す</li>
        <li>書き込む</li>
        <li>新しいスレを作ってみる</li>
    </ol>
</div>

{% if latest_thread_list %}
{% for thread in latest_thread_list %}
<a href="{% url 'board:detail' thread.id %}" class="btn-flat-double-border">
    {{ thread.print_title }} <br>
    スレ数 : {{ thread.print_count_response}} <br>
    更新日時 : {{ thread.print_latest_date}}<br>
    作成日時 : {{ thread.print_pub_date}}</a>
</a>
{% endfor %}
{% else %}
<p>そして誰も居なくなった...</p>
<p>新規スレを立ててね！</p>
{% endif %}

<div class="box17">
    <form action="{% url 'board:create_thread' %}" method="post">
        {% csrf_token %}
        新規スレ:<br>
        <textarea name="thread_str" rows="4" cols="40"></textarea><br>
        <input type="submit" value="Send"><input type="reset" value="Reset">
    </form>
</div>