<!DOCTYPE html>
<html lang="ja">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">
    <!-- PC SP 切り替え -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Octony</title>
</head>

<body>
    <!-- ロゴ -->
    <a href="{% url 'board:index' %}"><img src="{% static 'board/images/logo.png' %}" alt="Octony"></a><br>

    <!-- スレッド一覧 -->
    {% if thread_list %}
    {% for thread in thread_list %}
    {% if thread.was_update_recently %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-red-border">
        {{ thread.print_title }} <br>
        スレ数 : {{ thread.print_count_response}} <br>
        更新日時 : {{ thread.print_latest_date}}<br>
        作成日時 : {{ thread.print_pub_date}}</a>
    </a>
    {% else %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-blue-border">
        {{ thread.print_title }} <br>
        スレ数 : {{ thread.print_count_response}} <br>
        更新日時 : {{ thread.print_latest_date}}<br>
        作成日時 : {{ thread.print_pub_date}}</a>
    </a>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>そして誰も居なくなった...</p>
    <p>新規スレを立ててね！</p>
    {% endif %}

    <!-- 新規スレッド作成 -->
    <div class="box17">
        <form action="{% url 'board:create_thread' %}" method="post">
            {% csrf_token %}
            新規スレ:<br>
            <textarea name="thread_str" rows="4" class="textarea_width"></textarea> <br>
            <input type="submit" value="新規" class="btn-cross">
            <input type="reset" value="リセット" class="btn-cross">
        </form>
    </div>

    <footer>
        <!-- ボタン類 -->
        <a class="btn-brackets" onclick="window.location.reload(true);">更新</a>
        <a href="{% url 'board:index' %}" class="btn-brackets">戻る</a>
    </footer>
</body>

</html>