<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">
    <!-- PC SP 切り替え -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Octony</title>
</head>

<body>
    <!-- ロゴ -->
    <a href="{% url 'board:index' %}"><img src="{% static 'board/images/logo.png' %}" alt="Octony"></a><br>

    <!-- 最新スレッド -->
    {% if latest_thread_list %}
    {% for thread in latest_thread_list %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-flat-double-border">
        {{ thread.print_title }} <br>
        スレ数 : {{ thread.print_count_response}} <br>
        更新日時 : {{ thread.print_latest_date}}<br>
        作成日時 : {{ thread.print_pub_date}}</a>
    </a>
    {% endfor %}
    {% else %}
    <p>そして誰も居なくなった...</p>
    <p>新規スレを立ててね！</p>
    {% endif %}

    <!-- 新規スレッド作成 -->
    <div class="box17">
        <form action="{% url 'board:create_thread' %}" method="post">
            {% csrf_token %}
            新規スレ:<br>
            <textarea name="thread_str" rows="4" class="textarea_width"></textarea> <br>
            <input type="submit" value="新規">
            <input type="reset" value="リセット">
        </form>
    </div>

    <!-- ボタン類 -->
    <a class="btn-brackets" onclick="window.location.reload(true);">更新</a>
    <a href="{% url 'board:index' %}" class="btn-brackets">戻る</a>
</body>

</html>