<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <link rel="stylesheet" media="only screen and (max-width:800px)" href="{% static 'board/sp_style.css' %}">
    <link rel="stylesheet" media="screen and (min-width:800px)" href="{% static 'board/pc_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'board/images/logo.png' %}">
    <script src="{% static 'board/script.js' %}"></script>
    <title>Octony</title>
</head>

<body>
    <header>
        <!-- ロゴ -->
        <div style="text-align: center;">
            <a href="{% url 'board:index' %}">
                <img src="{% static 'board/images/logo.png' %}" alt="Octony">
            </a>
        </div>
    </header>

    <!-- はじめに -->
    <a href="{% url 'board:explain' %}" class="btn-green-border">はじめに</a>
    <!-- 最新スレッド -->
    {% if thread_list %}
    {% for thread in thread_list %}
    {% if thread.was_update_recently %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-red-border">
        {{ thread.print_title }} <br>
        レス : {{ thread.print_count_response }} おすすめ : {{ thread.favorite_num }}
    </a>
    {% else %}
    <a href="{% url 'board:detail' thread.id %}" class="btn-blue-border">
        {{ thread.print_title }} <br>
        レス : {{ thread.print_count_response }} おすすめ : {{ thread.favorite_num }}
    </a>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>そして誰も居なくなった...</p>
    <p>新規スレを立ててね！</p>
    {% endif %}

    <!-- 新規スレッド作成 -->
    <div class="box17">
        <form action="{% url 'board:create_thread' %}" method="post">
            {% csrf_token %}
            新規スレ:<br>
            <textarea name="thread_str" rows="4" class="textarea_width"></textarea> <br>
            <input type="submit" value="新規" class="btn-cross">
            <input type="reset" value="リセット" class="btn-cross">
        </form>
    </div>

    <footer>
        <!-- ボタン類 -->
        <a href="{% url 'board:index' %}" class="btn-brackets">戻る</a>
        <a class="btn-brackets" onclick="window.location.reload(true);">再読込</a>
    </footer>
</body>

</html>