<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'board/images/logo.png' %}">
    <script src="{% static 'board/script.js' %}"></script>
    <title>Octony</title>
</head>

<body>
    <!-- 質問 -->
    <h1>{{ question.question_text }}</h1>

    <!-- 選択肢 -->
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}

        {% if error_message %}
        <div class="response">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}

        {% for choice in question.choice_set.all %}
        <div class="response">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label>
        </div>
        {% endfor %}
        <input type="submit" value="Vote" class="btn-cross">
    </form>
</body>

</html>