<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <!-- PC SP 切り替え -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Octony</title>
</head>

<body>
    <header>
        <div id="loading">
            <div class="spinner"></div>
        </div>
        <!-- ロゴ -->
        <div style="text-align: center;">
            <a href="{% url 'board:index' %}">
                <img src="{% static 'board/images/logo.png' %}" alt="Octony">
            </a>
        </div>
    </header>

    <!-- 付箋 -->
    <p class="box8">アンケート調査</p>

    <!-- 目次 -->
    <div>
        <ol>
            <li>質問を選ぶ</li>
            <li>投票</li>
            <li>より良いOctonyへ</li>
        </ol>
    </div>

    <!-- 質問一覧 -->
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <a href="{% url 'polls:detail' question.id %}" class="btn-green-border">
            {{ question.question_text }}
        </a>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <footer>
        <!-- ボタン類 -->
        <a href="{% url 'board:index' %}" class="btn-brackets">戻る</a>
    </footer>
</body>

</html>