<!doctype html>
<html class="no-js" lang="ja">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>mioBlog</title>
    <meta name="description" content="mio256のブログ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'blog/images/logo.png' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- mine -->
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <script src="{% static 'board/script.js' %}"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9885623483939619"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- ローディング -->
    <div id="loading">
        <div class="spinner"></div>
    </div>

    <div class="container-lg" id="top">
        <!-- ロゴ -->
        <div style="text-align: center;">
            <a href="{% url 'blog:index' %}">
                <img class="img-fluid my-2" src="{% static 'blog/images/logo.png' %}" alt="Octony"
                    style="height: 30em;">
            </a>
        </div>

        <h1 class="m-3">僕と部活</h1>

        <h2 class="m-3">最初の全国大会</h2>

        <p>
            中学時代にタイピングで全国5位になったものの、学年ビリで入る高校がない中、顧問に勧められた情報科に入学するため6ヶ月で猛勉強。
        </p>

        <p>
            その勢いのまま猛勉強を続け、気がついたら高校主席に。
        </p>

        <p>
            校門に高く掲げられていた「日本一」の旗に憧れ、プログラミング全国強豪部に入部。
        </p>

        <p>
            パソコンにはそこそこ自信があったものの、先輩の電子回路とプログラミングの技術力の高さに圧倒される。
        </p>

        <p>
            最強の先輩とともに1日4時間超えで部活動をする中で、少しでも追いつこうと励み続けた。
        </p>

        <p>
            ...
        </p>

        <p>
            努力の成果、最強の先輩が出場する全国大会の付き人に選ばれた。
        </p>

        <p>
            全国大会前日、僕は先輩に「緊張しますか？」と聞いた。
        </p>

        <p>
            先輩は「まあ、少しね。」と笑った。
        </p>

        <p>
            ...
        </p>

        <p>
            大会当日、競技中の雰囲気は凄まじいものだった。
        </p>

        <p>
            間違いなく、全員がプロのレベルを超えていた。
        </p>

        <p>
            圧倒的なレベルの高さに、僕は足元にも届いていなかった。
        </p>

        <p>
            大会が終わり、先輩とお昼を済ませて、結果発表を待った。
        </p>

        <p>
            ...
        </p>

        <p>
            <strong>
                運命の結果発表、先輩は惜しくも準優勝だった。
            </strong>
        </p>

        <p>
            僕は、すごく悔しかった。
        </p>

        <p>
            先輩は誰よりも強いのに。
        </p>

        <p>
            みんなの前では「ミスっちゃったなぁ」と陽気な先輩だったが、僕と二人になった時に言い残してくれた言葉がある。
        </p>

        <p>
            「優勝、できなかったわ。ごめん。」
        </p>

        <p>
            僕は、何も言えなかった。
        </p>

        <h2 class="m-3">二回目の全国大会</h2>

        <p>
            僕はただひたすら、日本一に憧れていた。
        </p>

        <p>
            僕はただひたすら、最強の先輩に憧れていた。
        </p>

        <p>
            その最強の先輩が、全国の舞台で勝てなかった。
        </p>

        <p>
            そう、上には上が居ただけ。
        </p>

        <p>
            <strong>
                ならば、僕が上に立つ。
            </strong>
        </p>

        <p>
            大会に出場するのは通常3年生だ。
        </p>

        <p>
            しかし、この部活は絶対的な実力主義なので、2年生である僕も結果を出せば出場できる可能性がある。
        </p>

        <p>
            一つ上の先輩を追い越し、次の大会に出場することを目標に練習を積み重ねた。
        </p>

        <p>
            それでも、一つ上の先輩は強くてなかなか勝てなかった。
        </p>

        <p>
            そんな時、先輩にかけられた言葉がある。
        </p>

        <p>
            「日本一は俺が果たすから、二回目を頼んだ。」
        </p>

        <p>
            僕は、「一回目も僕が果たしますよ。」と笑った。
        </p>

        <p>
            ...
        </p>

        <p>
            ある日、部活に行くと先輩が泣いていた。
        </p>

        <p>
            その場を理解できなかった僕に、顧問から
        </p>

        <p>
            <strong>
                新型コロナウイルスの感染拡大により、全国大会が中止になったことが告げられた。
            </strong>
        </p>

        <p>
            僕はその場に立ち尽くした。
        </p>

        <p>
            出場すら叶わないのか。
        </p>

        <p>
            先輩は泣きながら、
        </p>

        <p>
            「一回目、やっぱ頼んだわ。」
        </p>

        <p>
            僕は、「その夢、俺が預かります。」と返した。
        </p>

        <p>
            絶対に。日本一を。
        </p>

        <h3 class="m-3">三度目の全国大会</h3>

        <p>
            今まで以上に努力を重ねた。
        </p>

        <p>
            先輩が使っていたはんだごてを受け継ぎ、
        </p>

        <p>
            1時間の朝練と、30分の昼練と、4時間の部活。
        </p>

        <p>
            10年分の各県大会、地区大会、全国大会の問題を何十回と解き続けた。
        </p>

        <p>
            先輩が苦手としていた配線や構造をマスターし、対戦相手の得意分野を追い越せるほどの電子回路技術も身につけた。
        </p>

        <p>
            制作した基盤は800枚を超え、大型ダンボール4つ分になり、部室に収まらなくなった。
        </p>

        <p>
            書いたコードは200万行で、Eclipseが立ち上がらなくなった。
        </p>

        <p>
            ...
        </p>

        <p>
            やれる限りのすべてを尽くして望んだ大会前日の夜。
        </p>

        <p>
            付き添いの後輩に「緊張しますか？」と聞かれる。
        </p>

        <p>
            僕は「まあ、少しね」と笑った。
        </p>

        <p>
            今なら、先輩の気持ちがわかる気がする。
        </p>

        <p>
            ...
        </p>

        <p>
            迎えた大会当日、出せる力のすべてを出し切った。
        </p>

        <p>
            勝てる自信があった。
        </p>

        <p>
            ...
        </p>

        <p>
            <strong>
                運命の結果発表、僕は3位だった。
            </strong>
        </p>

        <p>
            なるほど、みんなすげぇな。
        </p>

        <p>
            ただ素直に尊敬だった。
        </p>

        <p>
            悔しかったが、全力を出して負けたので仕方がない。
        </p>

        <p>
            僕が日本一の器じゃなかったということだろう。
        </p>

        <p>
            ただ一つ、先輩の夢を叶えることができなかったことだけが心残りだ。
        </p>

        <p>
            ...
        </p>

        <p>
            帰りの車の中、後輩がすごく悔しがってくれていた。
        </p>

        <p>
            後輩が、「回路が先輩に不利な構造で、減点もほとんど審査規定外じゃないですか。」とかばってくれる。
        </p>

        <p>
            僕は、「そうだな、でも、勝負の世界だよ。」と返す。
        </p>

        <p>
            後輩は、ただ悔しそうに下を向いていた。
        </p>

        <p>
            僕は後輩の肩を叩いて、
        </p>

        <p>
            <strong>
                「なあ、夢を預けてもいいか？」
            </strong>
        </p>

        <footer style="text-align: center;" id="bottom">
            <p>
                Octony - Since 2021.10.1
            </p>
        </footer>

    </div>

</body>

</html>