<!doctype html>
<html class="no-js" lang="ja">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>mioBlog</title>
    <meta name="description" content="mio256のブログ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'blog/images/logo.png' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- mine -->
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <script src="{% static 'board/script.js' %}"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9885623483939619"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- ローディング -->
    <div id="loading">
        <div class="spinner"></div>
    </div>

    <div class="container-lg" id="top">
        <!-- ロゴ -->
        <div style="text-align: center;">
            <a href="{% url 'blog:index' %}">
                <img class="img-fluid my-2" src="{% static 'blog/images/logo.png' %}" alt="Octony"
                    style="height: 30em;">
            </a>
        </div>

        <h1>はじめまして</h1>

        <h2>mio256について</h2>

        <p>
            全国3位の電子回路・マイコン制御技術者です。
        </p>

        <p>
            ビリ→主席→全国強豪部→最強先輩の敗北→「その夢、俺が預かります。」→全国3位
        </p>

        <p>
            最強のフルスタックエンジニアが目標〜電子回路からAIまで〜
        </p>

        <p>
            人の暮らしを豊か・幸せにする「ものづくり」を
        </p>

        <p>
            得意な言語 C/Java/Python
        </p>

        <p>
            DjangoでWebアプリ開発中です。
        </p>

        <p>
            一緒に日本を支える仲間を探しています。
        </p>

        <h2>これから</h2>

        <p>
            電子回路・マイコン制御など自分が専門的に詳しい分野や、今から学んでいくPython・Javaの分野などの記事を書いていきたいです。
        </p>

        <p>
            少しでもお役に立つことを願います。
        </p>

        <footer style="text-align: center;" id="bottom">
            <p>
                Octony - Since 2021.10.1
            </p>
        </footer>

    </div>

    <!-- ボタン類 -->
    <div style="position:fixed;right:10%;bottom:5%;">
        <div class="div-link">
            <button type="submit" class="btn btn-primary">
                戻る
            </button>
            <a href="{% url 'board:index' %}" class="link"></a>
        </div>
    </div>

</body>

</html>